body {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
div.welcome_panel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}
div.welcome_panel .moving_rl {
    animation-name: movingrl;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
div.welcome_panel .moving_rl h1 {
    white-space: nowrap;
}

div.flex-container_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}
div.flex-container_nav .flex-item_nav {
    width: 150px;
    margin-right: 4px;
    background-color: #05c4bc;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 0px 10px 0px;
}
div.flex-container_nav .flex-item_nav:hover {
    background-color: #057d77;
}
div.flex-container_nav .flex-item_nav a {
    text-decoration: none;
    color: white;
}
div.flex-container_computers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
div.flex-item_computers {
    min-height: 500px;
    margin: 10px;
    border: 1px black solid;
    flex: 20%;
}
div.computer_name {
    display: inline-block;
    text-align: center;
    width: calc(100% - 10px);
    margin: 0px 5px 0px 5px;
    padding: 5px 0px 5px 0px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    border-bottom: 1px black solid;
}
div.computer_img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
div.container {
    position: relative;
    margin: 5px;
    width: 110px; height: 110px;
}
div.container .overlay {
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    width: 110px; height: 110px;
    opacity: 0;
    transition: 2s ease-out;
    background-color: white;
}
div.container:hover .overlay {
    opacity: 0.6;
}
div.hover_name {
    color: black;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
div.container img {
    width: 100%; height: 100%;
}
div.container .zoom {
    transition: 2s ease-out;
}
div.container .zoom:hover {
    width: 150%; height:150%;
}

div.contents {
    margin: 10px 0px 10px 0px;
}
div.contents section {
    column-count: 2;
    column-gap: 15px;
    column-rule: 1px solid black;
}
div.contents section p {
    margin: 0px;
    text-align: justify;
}

div.login_UI {
    border: 2px black solid;
    border-left-width: 0px; border-right-width: 0px;
}
div.login_UI span {
    display: inline-block;
    width: 100px;
}
.button_UI {
    width: 60px; height: 25px;
}
.greenbutton {
    width: 60px; height: 25px; 
    background-color: greenyellow;
    border-width: 1px;
    border-radius: 6px;
}
.greenbutton:hover {
    background-color: #86C623;
}
.redbutton {
    width: 60px; height: 25px;
    background-color: #F16565;
    border-width: 1px;
    border-radius: 6px;
}
.redbutton:hover {
    background-color: #BD5252;
}
.bluebutton {
    width: 60px; height: 25px;
    background-color: skyblue;
    border-width: 1px;
    border-radius: 6px;
}
.bluebutton:hover {
    background-color:cadetblue;
}

div.signup_UI {
    border: 2px black solid;
    border-left-width: 0px; border-right-width: 0px;
}
div.signup_UI span {
    display: inline-block;
    width: 180px;
}
div.signup_UI span.nowidth {
    width: auto;
    margin-right: 10px;
}
div.signup_UI span span.isrequired {
    display: inline;
    color: red;
}

div.main_UI {
    border: 2px black solid;
    border-left-width: 0px; border-right-width: 0px;
    displayer: flex;
    flew-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

@keyframes movingrl {
    from { padding-left: 1000px; }
    to { padding-left: 0px; }
}

@media all and (max-width: 1020px) {
    div.welcome_panel .moving_rl h1 {
        white-space: normal;
    }
    div.container {
        width: 110px; height: 110px;
    }
    div.flex-item_computers {
        flex: 40%;
    }
}

@media all and (max-width: 800px) {
    div.flex-item_computers {
        flex: 40%;
    }
}

@media all and (max-width: 480px) {
    div.flex-container_nav {
        flex-direction: column;
    }
    div.flex-container_nav .flex-item_nav {
        width: 100%;
        margin-bottom: 1px;
        border-radius: 0px 0px 0px 0px;
    }
    div.flex-item_computers {
        flex: 100%;
    }
    div.contents section {
        column-count: 1;
    }
}